.nav_c{
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 12px;
    width: 721px;
    height: 467px;
    overflow: hidden;
}
.nav_c ul {
    position: relative;
    width: 600%;
}
.next,.front{
    position: absolute;
    display: none;
    width: 40px;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    background-color:rgba(0, 0,0, .3);
}
.next a{
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}
.front a{
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}
.next{
    right: 0;
    top: 40%;
}
.front{
    left: 0;
    top: 40%;
}
.nav ol{
    position: absolute;
    left: 50px;
    top: 418px;
    height: 20px;
    line-height: 20px;
    width: 400px;
}
.nav_c ul li{
    float: left;
}
.nav_c ol li{
    float: left;
    width: 9px;
    height: 9px;
    margin-left: 10px;
    border-radius: 19px;
    background-color: #fff;
}
.nav ol .styleName{
    background-color: red;
}
.nav_r{
    float: left;
    width: 250px;
    margin-top: 12px;
    height: 455px;
    box-shadow: 2px 2px #fff;
    border: 1px solid #e8e8e7;
}
.nav_r_t{
    height: 165px;
    font-size: 12px;
}
.top {
    height: 32px;
    width: 250px;
    font-size: 14px;
    color: #333333;
    border-bottom: 1px solid #e8e8e7;
}
.center{
    height: 133px;
    width: 250px;
}
.top span a{
    display: inline-block;
    line-height:32px ;
    margin-left: 12px;
}
.center ul li a span{
    color: #666666;
    font-weight: bold;
}
.center ul li{
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 12px;
}
.center ul li a{
    text-decoration: none;
}
.center_icon{
    height: 216px;
}
.center_icon ul li{
    float: left;
    width: 62px;
    height: 69px;
    border: 1px solid #e8e8e7;

}
.mg{
    height: 75px;
    background: url("../images/bargain.png") no-repeat;
}
.center_icon ul li i{
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    margin-left: 16px;
    background-color: #0dcaf0;
}
.center_icon ul li p{
    text-align: center;
}
.center_icon ul li:nth-child(1) i{
    background:url("../images/icons.png") -19px -14px;
}
.center_icon ul li:nth-child(2) i{
    background:url("../images/icons.png") -81px -14px;
}
.center_icon ul li:nth-child(3) i{
    background:url("../images/icons.png") -19px -14px;
}
.center_icon ul li:nth-child(4) i{
    background:url("../images/icons.png") -81px -14px;
}
.center_icon ul li:nth-child(5) i{
    background:url("../images/icons.png") -19px -14px;
}
.center_icon ul li:nth-child(6) i{
    background:url("../images/icons.png") -81px -14px;
}
.center_icon ul li:nth-child(7) i{
    background:url("../images/icons.png") -19px -14px;
}
.center_icon ul li:nth-child(8) i{
    background:url("../images/icons.png") -81px -14px;
}
.center_icon ul li:nth-child(9) i{
    background:url("../images/icons.png") -19px -14px;
}
.center_icon ul li:nth-child(10) i{
    background:url("../images/icons.png") -81px -14px;
}
.center_icon ul li:nth-child(11) i{
    background:url("../images/icons.png") -19px -14px;
}
.center_icon ul li:nth-child(12) i{
    background:url("../images/icons.png") -81px -14px;
}
.reco{
    overflow: hidden;
    margin-top: 18px;
    border: #bdbdbd;
    box-shadow: 0 2px 2px #bdbdbd;
    border-top: 1px solid #33333326;
}
.reco_l{
    float: left;
    height: 163px;
    width: 208px;
    background-color: #5c5251;
}
.reco_r{
    float: left;
    height: 163px;
    width: 992px;
}
.reco_l h4{
    margin-left: 60px;
}
.ii{
    font-size: 71px;
    margin-left:60px ;
    margin-top:20px ;
}
.reco_r_four{
    float: left;
    color: #5c5251;
    width: 248px;
    height: 163px;
    border-right: 1px solid #bdbdbd;
}
.re-img{
    float: left;
    margin-top: 20px;
}
.reco_r_four span{
    display: block;
    width: 90px;
}
.reco_font{
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    width: 99px;
}
.guessLike{
    height: 270px;
    margin-top: 30px;
    box-shadow: 0 2px 2px #bdbdbd;
    border-top: 1px solid #33333326;
}
.like{
    height: 30px;
    border-bottom: 1px solid #33333326;
}
.guessLike .like h5{
    float: left;
    width: 87px;
    line-height: 15px;
    font-size: 18px;
    color: #666666;
}
.guessLike .like p{
    float: right;
    margin-right: 18px;
    line-height: 30px;
    font-size: 12px;
    color: #666666;
}
.content{
    height: 225px;
    margin-top: 15px;
}
.content ul li {
    float: left;
    height: 225px;
    width: 190px;
    margin-right: 12px;
    
}
.guessLike .content ul li .img-w div{
    margin: 10px auto 0 ;
}
.guessLike .content ul li a{
    text-decoration: none;
}
.guessLike .content ul li a p{
    margin-left: 32px;
    margin-top: -10px;
    font-size: 12px;
    color: #666666;
}
.font_like{
    margin-top: 21px;
    height: 63px;
    border-right: 1px solid #bdbdbd;
}
.img-w{
    height: 141px;
    width: 190px;
}
.chuanbo{
    overflow: hidden;
    margin-top: 18px;
    height: 434px;
}
.chuanbo_hd{
    height: 35px;
    font-size: 18px;
    color: #666666;
  
}
.chuanbo_hd a{
    color: #666666;
    text-decoration: none;
}
.chauanbo_bd{
    margin-top: 3px;
}
.img_bd{
    float: left;
    width: 404px;
    height: 405px;
}
.img_bd_2{
    float: left;
    width: 224px;
    height: 404px;
}
.img_bd_3{
    float: left;
    width: 407px;
    height: 407px;
}
.img_bd_4{
    float: left;
    width: 160px;
    height: 407px;
}
.img_bd_2 ul li a{
 
    line-height: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #666666;
}
.img_bd_3 ul li a{
 
    line-height: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #666666;
}

.floor{
    overflow: hidden;
    margin-top: 25px;
}
.jiadian_hd{
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.jiadian_hd ul li{
    float: left;
}
.table_list{
    float: right;
}
.jiadian .jiadian_hd h4{
    float: left;
    line-height: 3px;
    color: #c81623;
}
.jiadian_hd ul li{
    line-height: 30px;
    font-size: 12px;
}
.jiadian_hd ul li a{
    text-decoration: none;
    color: #666666;
}
.jiadian_hd ul li:nth-child(even){
    width: 1px;
    height: 12px;
    margin: 7px 12px 7px;
    background-color: #666666;
}
.bd-1,.bd-3,.bd-4,.bd-5{
    float: left;
    width: 210px;
}
.bd-2{
    float: left;
    width: 330px;
}
.bd-1 ul li{
    float: left;
    height: 32px;
    width: 86px;
    font-size: 12px;
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ddd;
}
.bd-3 ul li{
    width: 220px;
    height: 180px;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}
.bd-4,.bd-5{
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}
.bd-4 img{
    margin-left: 23px;
    margin-top: 80px;
}
.bd-5 ul li{
    width: 220px;
    height: 180px;
}
.main-icon{
    margin-top: 18px;
}
.sj_hd{
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.sj_hd h4{
    float: left;
    line-height: 3px;
    color: #c81623;
}
.sj_hd ul li {
    float: left;
    line-height: 30px;
    font-size: 12px;
}
.sj_hd ul li a{
    text-decoration: none;
    color: #666666;
}
.sj_hd ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    margin: 7px 12px 7px;
    background-color: #666666;
}
.jiadian_hd{
    margin-top: 10px;
}
.floor{
    margin-top: 15px;
}
.jiadian_hd ul li{
    float: left;
}