
.ms{
    height: 38px;

}
.ms ul li a{
    line-height: 38px;
    text-decoration: none;
    color: #989898;
    font-size:14px ;
}
.ms ul li {
    float: left;
    padding-left: 45px;
}
.ms ul li a:hover{
    color:#b1191a ;
}
.miaosha{
    position: absolute;
    left: 195px;
    top: 42px;
}
.ms_shouji{
    overflow: hidden;
    margin-top: 20px;
}
.ms_shouji ul li{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 290px;
    height: 460px;
    border: 1px solid transparent;
}
.ms_shouji ul li:hover{
    border: 1px solid #b1191a;
}