<<<<<<< HEAD
.header{
    height: 83px;
    border-bottom: 1px solid #b1191a;
}
.center{
    height: 525px;
}
.c_top{
    height: 42px;
    background-color: #ececec;
}
.c_top h4{
    float: left;
    color:#333333;
    font-size: 18px;
    line-height: 27px;
}
.c_top p{
    float: right;
    color: #333333;
    font-size: 14px;
    line-height: 42px;
}
.c_top p a{
    text-decoration: none;
    color: #d26a6f;
}
.c_c ul li label{
    display: inline-block;
    width: 88px;
    text-align: right;
    font-size: 14px;
    color: #4d4d4d;
}
.c_c ul li .ip{
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
.c_c_top{
    margin: 50px auto;
    width: 600px;
}
.error{
    color: #df3033;
}
.c_c ul li{
    margin-top: 22px;
}
.c_c ul li input{
    margin-left: 2px;
}
.c_c ul li a{
    text-decoration: none;
}
.ii{
    padding: 2px;
}
input:focus{
    outline:0;
}

=======
.header{
    height: 83px;
    border-bottom: 1px solid #b1191a;
}
.center{
    height: 525px;
}
.c_top{
    height: 42px;
    background-color: #ececec;
}
.c_top h4{
    float: left;
    color:#333333;
    font-size: 18px;
    line-height: 27px;
}
.c_top p{
    float: right;
    color: #333333;
    font-size: 14px;
    line-height: 42px;
}
.c_top p a{
    text-decoration: none;
    color: #d26a6f;
}
.c_c ul li label{
    display: inline-block;
    width: 88px;
    text-align: right;
    font-size: 14px;
    color: #4d4d4d;
}
.c_c ul li .ip{
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
    outline: none;
}
.c_c_top{
    margin: 50px auto;
    width: 600px;
}
.error{
    color: #df3033;
}
.c_c ul li{
    margin-top: 22px;
}
.c_c ul li input{
    margin-left: 2px;
}
.c_c ul li a{
    text-decoration: none;
}
.ii{
    padding: 2px;
}
input:focus{

}

>>>>>>> 1c43478 (修改)
